[submodule "cloud-resume/themes/anubis"]
	path = cloud-resume/themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis
[submodule "cloud-resume/themes/paper"]
	path = cloud-resume/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
